/system/storage/cache/*.1504465275
/system/storage/cache/*.1504465398
/system/storage/cache/cache.currency.1504465275
/system/storage/cache/cache.language.1504465275
/system/storage/cache/cache.order_status.1.1504465398
/system/storage/cache/cache.store.1504465398
